body {
  color: #1d1d1f;
  font-family: "Noto Sans", sans-serif;
}

.navbar {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 840px) {
  .navbar {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 600;
    gap: 10px;
  }

  #apple-logo,
  #search,
  #shopping-bag {
    display: none;
  }
}
